<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      I am John Lamprou, I'm an MSc Candidate at ECE TUC and an R&D Engineer at Telecommunication Systems Research Institute (T.S.I.), 
      Technical University of Crete, part of the <a href="https://parasecurity.edu.gr">Parasecurity Group</a>.
    </p>

    <p>
      Passionate and independent at heart, I am a Machine Learning/NLP Engineer with a zest for pushing the boundaries of <strong>Large Language Models (LLMs)</strong>. My journey is marked by a relentless quest to reimagine and refine the architectures of <strong>LLMs</strong>, ensuring they are not just groundbreaking in theory but also efficient and scalable in the real world.
      At the core of my work is a deep commitment to <strong>innovation</strong>—whether it's enhancing model efficiency, reducing computational demands, or translating complex research into user-friendly applications. With a proven knack for navigating the entire research and development continuum solo, I pride myself on my ability to turn visionary ideas into tangible, impactful technologies.
    </p>
  </div>
  <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" />
</section>